/* color palette from <https://github.com/vuejs/theme> */
:root {
  --red: #e42313;
  --redLight: #eaaca6;
  --green: #509C50;
  --grey: #4A4A4A;
  --lightGrey: #bbbaba;
  --veryLightGrey: #ededed;

  --primary: var(--red);
  --primaryLight: var(--redLight);
  --secondary: var(--green);
  --tertiary: var(--grey);
  --tertiaryLight: var(--veryLightGrey);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}