/* color palette from <https://github.com/vuejs/theme> */
:root {
  --red: #e42313;
  --redLight: #eaaca6;
  --green: #509C50;
  --grey: #4A4A4A;
  --darkGrey: #666666;
  --lightGrey: #bbbaba;
  --veryLightGrey: #ededed;
  --white: #fff;
  --blue: #007aff;
  --orange: #ff9500;

  --primary: var(--red);
  --primaryLight: var(--redLight);
  --secondary: var(--green);
  --tertiary: var(--grey);
  --tertiaryLight: var(--veryLightGrey);
  --warning: var(--orange);

  --boxShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}

#app {
  min-width: 390px;
  margin: 0 auto;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  svg {
    display: block;
  }
}

.btn--primary {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--primaryLight);
  }
}

.btn--primary-borderless {
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--primary);
  }
}

.btn--black {
  color: white;
  background: black;
  padding: 0.5rem 1.2rem;

  transition: all 0.2s ease-in-out;
  &:hover {
    background: var(--primary);
  }

}

.list-none {
  list-style: none;
}

.list-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.8rem;
}
.list-inline__item {
  margin: 0 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}